@import '~bourbon/core/bourbon';
@import './_partials/variables';
@import '~bootstrap/scss/bootstrap';

/*** ICONS ***/
@import '../fonts/fontawesome-pro/scss/fontawesome.scss';
@import '../fonts/fontawesome-pro/scss/solid.scss';
/*** COMPONENTS ***/
@import './_partials/animations';
@import './components/authentication';
@import './components/products';
@import './components/shoppingcart';
@import './components/notifications';
@import './components/dropdown';
@import './components/modals';
@import './components/preloader';
@import './components/header';
@import './components/footer';
/*** CUSTOMS ***/
@import './_partials/responsive';
@import './_partials/fixes';

/** THEME **/
#content-wrapper .page-title {
  color: $secondary;
  text-align: left;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  border-bottom: solid 2px $primary;
  margin-bottom: 0.8em;
  padding-bottom: 0.5em;
}
