/* Floating notification */
.ns-box {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 999999;
  min-width: 250px;
  max-width: 380px;
  padding: 1rem;
  color: #fff;
  visibility: hidden;
  background: #2fb4d1;
  opacity: 0;
  transition: all 0.3s ease;
}
.ns-box.ns-show {
  visibility: visible;
  opacity: 1;
}

.ns-box.ns-hide {
  visibility: hidden;
  opacity: 0;
}

.ns-effect-thumbslider .ns-box-inner {
  overflow: hidden;
}

.ns-effect-thumbslider .ns-thumb-wrap {
  float: left;
  width: 80px;
}
.ns-effect-thumbslider .ns-thumb {
  position: relative;
  z-index: 2;
}

.ns-effect-thumbslider .ns-content {
  padding-left: 1rem;
}

.ns-text-only .ns-content {
  padding: 0;
}

.ns-effect-thumbslider.ns-show .ns-content,
.ns-effect-thumbslider.ns-hide .ns-content {
  -webkit-animation-name: animslide;
  animation-name: animSlide;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ns-effect-thumbslider.ns-show .ns-content {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.ns-effect-thumbslider.ns-hide .ns-content {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.ns-effect-thumbslider.ns-show .ns-delivery,
.ns-effect-thumbslider.ns-hide .ns-delivery {
  -webkit-animation-name: animslidedown;
  animation-name: animSlideDown;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ns-effect-thumbslider.ns-show .ns-delivery {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.ns-effect-thumbslider.ns-hide .ns-delivery {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

@-webkit-keyframes animSlide {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes animSlide {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes animSlideDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes animSlideDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.ns-effect-thumbslider.ns-show .ns-thumb,
.ns-effect-thumbslider.ns-hide .ns-thumb {
  -webkit-animation-name: bouncein;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ns-effect-thumbslider.ns-hide .ns-thumb {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

//danger
.ns-box-danger {
  color: #a94442 !important;
  background-color: #f2dede !important;
}
//fix
#js-notifications {
  ul {
    list-style-type: none;
    margin-bottom: 0;
  }
  .alert {
    margin-top: 1rem;
  }
}
