#products {
  transition: opacity 0.3s ease;

  #infinity-loader-icon {
    display: none;
    padding: 3rem 2rem;
    text-align: center;
  }

  &.-infinity-loading {
    #infinity-loader-icon {
      display: block;
    }
  }
}

.product-miniature-grid {
  .product-availability {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transition: opacity 0.2s $smooth-transition-timing,
      transform 0.2s $smooth-transition-timing;
    transform: translateX(-50%);
  }

  .input-group-add-cart {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
    .input-group {
      width: auto;
      margin-right: 5px;
    }
  }

  @media (hover: hover) {
    &:hover {
      .product-availability {
        opacity: 0;
        transform: translate(-50%, 1rem);
        backface-visibility: hidden;
      }
    }
  }
}

.product-miniature-default {
  position: relative;

  .thumbnail-container {
    position: relative;
  }

  .product-thumbnail {
    position: relative;
    display: block;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .product-flags {
    top: 0;
    left: 0;
  }
  li.product-flag {
    margin-top: 0.3rem;
    text-align: left;
    &:first-child {
      margin-top: 0;
    }
  }
  .product-add-cart {
    .input-group-add-cart {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    .input-qty {
      min-width: 25px;
      max-width: 50px;
      padding: 0 0.2em;
      text-align: center;
      -moz-appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
      }
    }
  }
  .product-title {
    padding: 0;
    margin: 0;
    font-size: large;
  }

  .regular-price {
    text-decoration: line-through;
  }

  //hover effect
  &:hover {
    z-index: 2;
  }
}

//grid or slider view
.products-grid {
  .product-miniature-default {
    height: 100%;
    .product-description {
      padding-top: 0.8rem;
    }
    .product-category-name {
      padding-bottom: 0.2rem;
    }
    .product-reference,
    .product-brand {
      margin-top: -0.2rem;
    }
    .product-title,
    .product-reference,
    .product-brand {
      padding-bottom: 0.4rem;
    }
    .price-symbol {
      font-size: small;
      color: $product-price-sign-color;
    }
    .product-price {
      color: $product-price-color;
      font-weight: 700;
      font-size: large;
    }
  }
}
